
@media only screen and (max-width: 5000px) {
    p {

        padding-top: 60vh;

    }
}
@media only screen and (max-width: 1100px) {
    p {

        padding-top: 30vh;

    }
}
@media only screen and (max-width: 990px) {
    p {

        padding-top: 20vh;

    }
}

@media only screen and (max-width: 920px) {
    p {

        padding-top: 25vh;

    }
}

@media only screen and (max-width: 900px) {
    p {

        padding-top: 25vh;

    }
}

@media only screen and (max-width: 850px) {
    p {

        padding-top: 20vh;

    }
}

@media only screen and (max-width: 790px) {
    p {

        padding-top: 20vh;

    }
}


@media only screen and (max-width: 780px) {
    p {
        padding-top: 30vh;
    }
}

@media only screen and (max-width: 760px) {
    p {
        padding-top: 20vh;
    }
}

@media only screen and (max-width: 680px) {
    p {
        padding-top: 20vh;
    }
}

@media only screen and (max-width: 560px) {
    p {
        padding-top: 10vh;
    }
}



@media only screen and (max-width: 485px) {
    p {
        padding-top: 10vh;
    }
}

@media only screen and (max-width: 400px) {
    p {
        padding-top: 10vh;
    }
}

p {
    font-family: 'Karla', sans-serif;
    color: hsl(0, 0%, 0%);
    text-align: center;
    margin: 0px 20px;
    z-index: 1;
    position: relative;
    margin-bottom: 1000px;





}
