* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Logo {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
    size: contain;
}

@media only screen and (max-width: 768px) {

    .backgroundIndex,
    .backgroundBiografia,
    .backgroundEventos {
        height: 70vh;
    }

    .backgroundIndex::before,
    .backgroundBiografia::before,
    .backgroundEventos::before {
        height: 100%;
    }


}


@media only screen and (max-width: 480px) {

    .backgroundIndex,
    .backgroundBiografia,
    .backgroundEventos {
        height: 50vh;
    }



}

.backgroundEventos {
    height: auto;
    width: auto;
    overflow: hidden;
    background-image: url('../imagens/EventosUsina.jpg');
    background-size: contain;
    background-position: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;

}

.backgroundIndex {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../imagens/UsinaImagem.jpg');
    background-size: contain;
    background-position: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;


}

.backgroundBiografia {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../imagens/SobreNosUsina.jpeg');
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;


}

.backgroundHistoria{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../imagens/HistoriaUsina.jpeg');
    background-position: cover  ;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;

}
.titulo {
    position: absolute; 
    font-size: 70px;
    font-style: italic;
    top: 20px; 
    left: 20px; 
    color: rgb(255, 255, 255); 
    z-index: 1; 
}
.texto{
    
    font-size: 100%;
    ;
}




.backgroundIndex::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 255, 0, 0.7));
    z-index: 1;
}



.backgroundEventos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(148, 26, 185, 0.7));
    z-index: 1;
    pointer-events: none;
}

.backgroundBiografia::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(212, 124, 23, 0.7));
    z-index: 1;
    pointer-events: none;
}

.backgroundHistoria::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(95, 143, 97, 0.5));
    z-index: 1;
    pointer-events: none;
}
article {
    position: relative; /* Necessário para z-index funcionar */
    z-index: 2; /* Deve ser maior que 1 */
    color: white; /* Certifique-se de que o texto seja visível */
    padding: 20px; /* Adicione padding para o texto não colar nas bordas */
}

.cabecalhoTextos {
    padding-top: 750px
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }
}


@media only screen and (max-width: 480px) {
    h1 {
        font-size: 12vw;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
    position: relative;
}

p {
    font-family: 'Karla', sans-serif;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0px 20px;
    z-index: 1;
    position: relative;



}