html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    overflow: hidden; 
    background-image: url('imagens/UsinaImagem.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 255, 0, 0.7)); 
    z-index: 1;
    pointer-events: none;
}



.menu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
    position:relative;
    z-index: 2;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(32, 80%, 34%); 
    margin-right: 30px; 
    padding: 3px; 
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%); 
    font-weight: 700; 
    font-size: 2.5em; 
    margin-top: 20px; 
    position: relative;
    z-index: 2;
}
